<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
      <% include partials/nav.ejs %>
      <h1>404 - oops</h1>
      <p>We can't find the page you're looking for</p>
  </body>
</html>