<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
    <meta charset="UTF-8">
    <title>Contact</title>
  </head>
  <body>
      <% include partials/nav.ejs %>
      <h1>Contact Us</h1>
      <p>Write to us. Or don't. Up to you.</p>

      <form id="contact-form" method="POST" action="/contact">
        <label for="who">Who do you want to contact?</label>
        <input type="text" name="who" value=<%= qs.name %>>
        <label for="department">Which department?</label>
        <input type="text" name="department" value=<%= qs.dept %>>
        <label for="email">email</label>
        <input type="text" name="email"/>
        <input type="submit" value="submit"/>
      </form>
  </body>
</html>