<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
    <meta charset="UTF-8">
    <title>Contact</title>
  </head>
  <body>
      <% include partials/nav.ejs %>
      <h1>Contact Us</h1>
      <p>Write to us. Or don't. Up to you.</p>
  </body>
</html>