<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body{background: skyblue; font-family: Verdana; color: #fff; padding: 30px;}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
      h2{font-size: 30px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
      p, li{font-size: 16px; text-align: center;}
    </style>
    <meta charset="UTF-8">
    <title>Contact</title>
  </head>
  <body>
      <% include partials/nav.ejs %>
      <h1>Contact Us</h1>
      <p>Write to us. Or don't. Up to you.</p>
  </body>
</html>