<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
    <meta charset="UTF-8">
    <title>Profile</title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>This is the profile of <%= person %></h1>
    <p><strong>Age:</strong> <%= data.age %></p>
    <p><strong>Job:</strong> <%= data.job %></p>
    <h2>Subjects</h2>
    <ul>
      <% data.subjects.forEach(function(item){ %>
        <li><%= item %></li>
      <% }); %>
    </ul>
  </body>
</html>